* what is database and why does it matter?
* * is a collection of data. structured computerized data which is accessible data with an interface
* what is sql and mysql

* what is the difference between sql and mysql
* * standard query language and database management system
*

In [23]:
from sqlalchemy import create_engine, text
import pandas as pd
import numpy as np

In [24]:
engine = create_engine('mysql+pymysql://root:password@localhost')

In [70]:
def get_query_result(query):
    with engine.connect() as connection:
        if query.strip().lower().startswith(('select', 'show', 'desc', 'describe', 'explain')):
            return pd.read_sql(query, connection)
        else:
            # print(text(query))
            query = text(query)
            result = connection.execute(query)
            # print('query executed successfully')
            # print("Result:", result)
            # print("Rowcount:", result.rowcount)
            return result

# Execute a select query and store the result in a DataFrame
# Commented out since it might not be applicable directly
# df = get_query_result(sql_select)
# print(df)

In [26]:
# Example query to create a database
sql_create_db = """
drop database house;
"""

In [27]:
sql_select = """SELECT * FROM some_table;"""

In [28]:
get_query_result('drop database house;')

drop database house;
query executed successfully

In [29]:
get_query_result('create database house;')

create database house;
query executed successfully

In [39]:
res = get_query_result('use house;')
res
# res.engine.cursor.CursorResult

use house;
query executed successfully

In [43]:
# Example usage
res = get_query_result('USE house;')

USE house;
query executed successfully
Result: <sqlalchemy.engine.cursor.CursorResult object at 0x70d89debf3a0>
Rowcount: 0

In [47]:
get_query_result('select database();')

  database()
0      house

In [48]:
get_query_result("""create table room 
                    (
                        room_size varchar(255),
                        room_type varchar(255),
                        height float
                    )
                """)

create table room
                    (
                        room_size varchar(255),
                        room_type varchar(255),
                        height float
                    )

query executed successfully
Result: <sqlalchemy.engine.cursor.CursorResult object at 0x70d89d94b160>
Rowcount: 0

In [50]:
get_query_result(""" show tables """)

  Tables_in_house
0            room

In [52]:
get_query_result(""" desc room """).fetchall()

 desc room
query executed successfully
Result: <sqlalchemy.engine.cursor.CursorResult object at 0x70d89d8b55a0>
Rowcount: 3

[('room_size', 'varchar(255)', 'YES', '', None, ''),
 ('room_type', 'varchar(255)', 'YES', '', None, ''),
 ('height', 'float', 'YES', '', None, '')]

In [53]:
pd.DataFrame(get_query_result(""" desc room """).fetchall())

 desc room
query executed successfully
Result: <sqlalchemy.engine.cursor.CursorResult object at 0x70d89d8b5660>
Rowcount: 3

       Field          Type Null Key Default Extra
0  room_size  varchar(255)  YES        None
1  room_type  varchar(255)  YES        None
2     height         float  YES        None

In [82]:
def query_result_show(query):
    res = get_query_result(query)
    print("Result:", res)
    print("Rowcount:", res.rowcount)
    print("Returns Rows:", res.returns_rows)
    if res.returns_rows:
        return pd.DataFrame(res)
    # if isinstance(res, pd.DataFrame):
    #     print('isinstance')
    #     return res
    else:
        return res

In [85]:
query_result_show(""" desc room """)

Result: <sqlalchemy.engine.cursor.CursorResult object at 0x70d89d746980>
Rowcount: 3
Returns Rows: True

       Field          Type Null Key Default Extra
0  room_size  varchar(255)  YES        None
1  room_type  varchar(255)  YES        None
2     height         float  YES        None

In [102]:
def get_query_result(query):
    with engine.connect() as connection:
        if query.strip().lower().startswith(('select', 'show', 'desc', 'describe', 'explain')):
            return pd.read_sql(query, connection)
        else:
            query = text(query)
            result = connection.execute(query)
            # print(text(query))
            print("Result:", result)
            print("Rowcount:", result.rowcount)
            print("Returns Rows:", result.returns_rows)
            return result

In [103]:
get_query_result(""" show tables """)

  Tables_in_house
0            room

In [104]:
get_query_result('USE house;')

Result: <sqlalchemy.engine.cursor.CursorResult object at 0x70d89d5fcf40>
Rowcount: 0
Returns Rows: False

In [105]:
get_query_result('select database();')

  database()
0      house